/*
Theme Name: Greenpeace Planet 4 Ummah Child Theme
Theme URI: https://github.com/greenpeace/planet4-child-theme-ummah
Description: Child theme for the Planet 4 Ummah campaign
Author: Greenpeace International
Author URI: https://github.com/greenpeace
Template: planet4-master-theme
Version: 0.2.10
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: light, accessibility-ready
Text Domain: planet4-child-theme-ummah
*/

.donate-nav-item {
  display: none;
}


nav#header {
  background-color: white;
}

.top-navigation a.nav-link {
  color: #1c4262;
}

a.site-logo img {
  height: 4rem;
}

@media only screen and (max-width: 992px) {
  .top-navigation {
    height: 5rem;
  }
  a.site-logo img {
    height:5rem;
  }

  a.site-logo {
    padding-right: 1.5em;
  }

  html[dir="rtl"] a.site-logo {
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .navbar-dropdown {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: left!important;
    padding: 0;
  }

  .nav-item.wpml-ls-item {
    margin-left:0;
    margin-right:20px
  }

  .top-navigation a.nav-link {
    padding:10px;
  }

  .navbar-dropdown .nav-item {
    padding: 0 15px;
  }
}
